/*memo.list*/

.listMemoArea {
    background-color: antiquewhite;

}

.listMemoEachLine {
    border-bottom: medium dashed black;
}

.listMemoCreate {
    margin-top: 4px;
    background-color: orchid;
}

.listMemoSignout {
    margin-top: 4px;
    background-color: cadetblue;
}

/*memo.create*/

.createArea {
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
}

/*common*/

.memoPad {
    width:100vw;
    height:70vh;
    background-color: cadetblue;
}

