/*memo.list*/

.listMemoArea {
    height: 82vh;
    background-color: antiquewhite;
    position: relative;

}

.listMemoEachLine {
    border-bottom: medium dashed black;
}

.listMemoCreate {
    margin-top: 4px;
    background-color: orchid;
    width: 100vw;
    position: absolute;
    right: 0;
    bottom: 0;
}

.listMemoSignout {
    margin-top: 4px;
    background-color: cadetblue;
}

/*memo.create*/

.createArea {
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
}

.memoCreateButton {
    background-color: pink;
    padding: 10px;

}

/* meme.detail */
.memoUpdateButton {
    background-color: pink;
    padding: 10px;

}
.memoDeleteButton {
    background-color: darkgray;
    padding: 10px;
    margin-left: 10px;

}

/*common*/

.memoPad {
    padding: 8px;
    height: 70vh;
    background-color: cadetblue;
    overflow: scroll;
}
.memoButton{
    display: flex;
    justify-content: right;
    margin-top: 10px;
}



