.commonLayout {
    width: 100vw;
    height: 100vh;
}

.commonLayoutPadding {
    padding: 10px;
}

.backButton {
height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;

}


